@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
    // padding-top: 50px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .primary.container {
  padding: 15px 15px 50px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer .copyright {
    font-size: 12px;
}

.navbar.navbar-inverse {
    background: rgba(0, 0, 0, 0.6);
    border:none;
    min-height: 46px;
    
    button.navbar-toggle {
        border: none;
        border-radius: 0;
        &:hover {
            background: rgba(0,0,0,0.3);
        }
    }

    .navbar-collapse {
        min-height: 46px !important;
    }
    
    .navbar-brand {
        color: #fff;
        padding: 14px 20px 14px 15px;
        height: 46px;
        font-size:16px;
    }
    .navbar-nav {
        li a {
            color: #fff;
            padding: 14px 20px;
            font-size: 16px;
        }
        li.active a {
            color: #9d9d9d;
            background: none;
            &:hover {
                background: none;
            }
        }
    }
}

.jumbotron {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 68px;
    background: url('../img/road.jpg');
    // background-size: cover;
    color: #fff;
    position: relative;
    .jumbocover {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,0.6);
        z-index:0;
    }
    .container {
        z-index: 1;
        position: relative;
    }
}

.copy-nav {
    padding: 0 .5em;
    a {
        padding: 0 .5em;
    }
}
