@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
    padding-top: 50px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.navbar.navbar-inverse {
    background: rgba(0, 0, 0, 0.6);
    border:none;
    min-height: 46px;
    
    button.navbar-toggle {
        border: none;
        border-radius: 0;
        &:hover {
            background: rgba(0,0,0,0.3);
        }
    }

    .navbar-collapse {
        height: 46px !important;
    }
    
    .navbar-brand {
        color: #fff;
        padding: 14px 20px 14px 0;
        height: 46px;
        font-size:16px;
    }
    .navbar-nav {
        li a {
            color: #fff;
            padding: 14px 20px;
            font-size: 16px;
        }
        li.active a {
            color: #9d9d9d;
            background: none;
            &:hover {
                background: none;
            }
        }
    }
}



