<aside class="panel panel-default">
    <div class="panel-body text-center">
        <img src="img/joecochran_med.jpg" width="161" height="161" class="avatar" alt="Photo of Joe Cochran">
        <h3>Joe G. Cochran</h3>
        <p>Full Stack Web Developer</p>
        <hr>
        <ul class="list-inline small social-icons">
            <li><a href="https://linkedin.com/in/joecochran"><i class="fa fa-linkedin fa-2x"></i></a></li>
            <li><a href="https://github.com/joecochran"><i class="fa fa-github fa-2x"></i></a></li>
            <li><a href="mailto:j_cochran@me.com"><i class="fa fa-envelope fa-2x"></i></a></li>
        </ul>
    </div>
</aside>
