    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <p class="text-muted small thanks"><a href="http://sdf.org" target="_blank" alt="SDF Public Access UNIX System"><img src="img/sdfbanner.png"></a></p>
                </div>
                <div class="col-md-3">
                    <ul class="text-muted list-inline text-right small">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="work.html" class="active">Work</a></li>
                        <li><a href="cv.html">CV</a></li>
                        <li><a href="pubkey.html">Public Key</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
